networks:
  cybernet:
    driver: bridge

services:
  splunk:
    image: splunk/splunk:latest
    container_name: splunk
    environment:
      - SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=${SPLUNK_PASSWORD}
      - SPLUNK_HEC_TOKEN=${SPLUNK_HEC_TOKEN}
    ports:
      - "8000:8000"   # Splunk Web
      - "8088:8088"   # HEC
    networks:
      - cybernet
    volumes:
      - victim_logs:/mnt/linux-victim-logs:ro

  vuln-llm:
    build: ./vuln-llm
    container_name: vuln-llm
    environment:
      - SPLUNK_HEC_URL=http://splunk:8088/services/collector/event
      - SPLUNK_HEC_TOKEN=abcd1234
      - LLM_SYSTEM_PROMPT=You are an internal support assistant. Follow internal policy.
      - ALLOW_SYSTEM_OVERRIDE=true
    depends_on:
      - splunk
    ports:
      - "5000:5000"
    networks:
      - cybernet

  redteam:
    build: ./redteam
    container_name: redteam
    tty: true
    stdin_open: true
    networks:
      - cybernet

  linux-victim:
    build: ./linux-victim
    container_name: linux-victim
    tty: true
    stdin_open: true
    networks:
      - cybernet
    volumes:
      - victim_logs:/var/log

volumes:
  victim_logs:
